<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SystemGroup.Training.StoreManagement.Common.Properties.Settings.GeneralDvpConnectionString"
            connectionString="Data Source=.;Initial Catalog=GeneralDvp;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>